[package]
name = "git"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true }
anyhow = { workspace = true }
git2 = { workspace = true }
tempfile = { workspace = true }
